nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px; 
    flex-direction: column;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 20px;
    font-size: 30px;
}

/* Target the Link component and remove underline */
nav ul li  {
    color: white;
    text-decoration: none;
}

