
.hero {
    position: relative;
    width: 100%;
    text-align: center;
   
  }
  
  
  .foodVid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh; 
    object-fit: cover;
    z-index: -1; 
  }
  
  
  .content {
    position: absolute;
    top: 10; 
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1; 
  }
  
  .content h1 {
    margin-top: 20vh; 
    color: #d7c594; 
    font-size: 50px;
    
  }

  .btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 4px solid  #d7c594; 
    color:  #d7c594; 
    background-color: #fff; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  
 /* The hover function for button */
    &:hover {
      background-color:  #8d783d;
      color: #fff;
      border-color: #fff;
    }
  
    
    &:active {
      background-color: #2980b9;
      border-color: #2980b9;
    }
  }

 /* Style button and link it to menu page
Style the hungry? 
make the about us on bottom
make location and hours page */